body {
  text-align: center;
  background-color: rgb(2, 109, 2);
}

button {
  padding: 15px;
  background-color: rgb(44, 44, 44);
  color: white;
  border-radius: 10px;
  border: none;
  display: none;
  margin: 0 auto;
}

button:hover {
  cursor: pointer;
  background-color: #616161;
}

#card-div {
  margin-top: 100px;
}

#card-div > img {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
}

#message > h2{
  position: relative;
  top: 400px
}